# Taken from: http://stackoverflow.com/questions/5711120/gitignore-without-binary-files

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Makefiles
!Makefile

### Above combination will ignore all files without extension ###

# Ignore C/C++ intermediate files
*.o
*.a
*.so
*.dylib
*.out

# Ignore Maven build folder
target

# Ignore npm modules folder
node_modules

# Ignore Vim saved sessions
Session.vim
